CERTIFICATE_NAME="certificate.crt"
PRIVATE_KEY_NAME="private.key"
DHPARAM_NAME="dhparam.pem"
CHMOD_PERMISSIONS="+r" # applied to the entire /output folder
CHOWN_OWNERS="1000:1000" # applied to the entire /output folder
DURATION_DAYS=3650
C="IT"
ST="Apulia"
L="Taranto"
O="OsmioInc."
OU="Sysadmins"
CN="*"